
<div>
  <h1>
      ToDo
  </h1>  
</div>

<div class="TodoInput">
  <form #pepe (ngSubmit)="addItem(description)">
    <mat-form-field>
      <input 
        matInput        
        name="description"            
        [(ngModel)]="description"
        placeholder="Give me a task..." 
      >
    </mat-form-field>
    <button mat-button color="primary">Add</button>
  </form>
</div>
<div class="filter-bar">
  <span>Number of tasks! {{todos.length}}</span>
  <button mat-button (click)="filter('pending')">Pending</button>
  <button mat-button (click)="filter('completed')">Completed</button>
  <button mat-button (click)="filter('all')">All</button>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>

<ng-container *ngFor="let todo of todosScr">
  <app-todo-item 
    [todo]="todo" 
    (update)="updateStatus(todo, $event)"
    (delete)="removeItem(todo)">
  </app-todo-item>
</ng-container>

